{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<!--<h2>{{ request.user.email }}</h2>-->

<div id="email-page-view" class="py-3 px-3 px-md-5">
    <div class="row mb-2">
        <div class="col">
            <span id="email-subject" class="h3"></span>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-lg-6">
            <strong id="email-sender"></strong>
            <p><small id="email-recipients"></small></p>
        </div>  
        <div class="col-lg-6 text-right">
            <span id="email-timestamp" class="text-muted"></span>
        </div>                     
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <span id="email-body"></span>
        </div>
    </div>
    
    <div class="row g-1">
        <div class="col">
            <button class="btn btn-primary btn-block" id="archive-button"></button>
        </div>
        <div class="col">
            <button class="btn btn-success btn-block" id="reply-button">Reply</button>
        </div>
    </div>
</div>

<div id="emails-view" class="py-3">
    <div id="emails-alert">
        
    </div>
    <table class="table table-hover">
        <tbody id="emails-table">
          
        </tbody>
      </table>
</div>

<div id="compose-view" class="py-3 px-3 px-md-5">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group row g-1 mb-2">
            <div class="col">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="col">
                To: <input id="compose-recipients" class="form-control">
            </div>
        </div>
        <div class="form-group mb-2">
            <input class="form-control" id="compose-subject" placeholder="Subject">
        </div>
        <textarea class="form-control mb-2" id="compose-body" rows="10" placeholder="Body"></textarea>
    </form>
    <button class="btn btn-primary btn-block" id="compose-submit">Submit</button>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}