{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="email-page-view">
        <div class="row ">
            <div class="col-12">
                <span id="email-sender"></span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <span id="email-recipients"></span>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-12">
                <span id="email-timestamp"></span>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-12">
                <span id="email-subject"></span>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-12">
                <span id="email-body"></span>
            </div>
        </div>

        <button class="btn btn-primary" id="archive-button"></button>
        <button class="btn btn-success" id="reply-button">Reply</button>
    </div>

    <div id="emails-view">
        
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        </form>
        <button class="btn btn-primary" id="compose-submit">Submit</button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}